.header {
    color: red;
}

.headertoo {
    color: teal;
}

.button {
    background-color: teal;
    color: whitesmoke;
    padding: 4px 3px;
    border: none;
    border-radius: 2px;
}

.container {
    background-color: bisque;
    margin: auto;
    width: 65vw;
    height: 100vh;
    text-align: center;
    padding: 20px;
}